<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../images/package.svg" class="img-responsive" alt="package">
                <br>
                <h4>Fast shipping</h4>
                <p>Every package is sent within 2 days. God's holy angels help us with the delivery!</p><br>
            </div>
            <div class="col-md-4">
                <img src="../images/globe.svg" class="img-responsive" alt="globe">
                <br>
                <h4>Worldwide shipping</h4>
                <p>You can buy from all around the universe. Even God buys from us!</p><br>
            </div>
            <div class="col-md-4">
                <img src="../images/smiley.svg" class="img-responsive" alt="smiley">
                <br>
                <h4>30 days money back</h4>
                <p>You can get money refound, if products don't fit in description. Remember, God decides!</p><br>
            </div>
        </div>
    </div>
</footer>
